<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<form th:method="POST" th:action="@{/book/search}">
    <label for="query">Введите поисковой запрос: </label>
    <input type="text" id="query" name="query"/>
    <br/>
    <input type="submit" value="Искать!"/>
</form>

<div th:if="${books}">
    <div th:if="${books.isEmpty()}">
        <span>Книг не найдено</span>
    </div>

    <div th:each="book : ${books}">
        <p th:text="${book.getNameOfBook() + ', ' + book.getNameOfCreator() + ', ' + book.getYear()}">book</p>

        <div th:if="${book.getOwner() != null}">
            <span>Now owner: </span> <span th:text="${book.getOwner().getName()}">Person Name</span>
        </div>

        <div th:if="${book.getOwner() == null}">
            <span>Book is free</span>
        </div>

        <hr/>
    </div>
</div>

</body>
</html>